<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>/r/Chile modlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <style type="text/css">
    .card-content.row {
      margin-bottom: 0;
      position: relative;
    }
    .card-action.collapsible {
      box-shadow: none;
      padding: 0;
    }
    .row > .right {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      text-align: right;
      font-size: 12px;
    }
    .row > .right .material-icons {
      font-size: 16px;
      vertical-align: text-bottom;
    }
    .row .target-body {
      padding-top: 1rem;
      font-size: 12px;
      white-space: normal;
      margin: 0;
    }
  </style>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="#">/r/chile modlog</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://reddit.com/r/chile" target="_blank">Subreddit</a></li>
        <li><a href="https://reddit.com/r/chile/wiki/reglas" target="_blank">Reglas</a></li>
        <li><a href="https://reddit.com/message/compose?to=/r/chile" target="_blank">Modmail</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="page-content" id="app">
      <div class="card" v-if="entries.length == 0">
        <div class="card-content">
          Cargando...
        </div>
      </div>
      <div v-for="entry in entries">
        <div class="card">
          <div class="card-content row">
            <div class="right">
              <span v-bind:title='dateFormat(entry.created_utc)'>
                <i class="material-icons">access_time</i>
                {{ dateAgo(entry.created_utc) }}
              </span> |
              <a v-bind:href="'https://reddit.com/user/'+entry.mod" target="_blank">{{ entry.mod }}</a> |
              <a v-if="entry.target_permalink" v-bind:href="'https://reddit.com/'+entry.target_permalink" target="_blank">
                <i class="material-icons">open_in_new</i>
              </a>
              <a class="waves-effect waves-light modal-trigger" v-bind:href="'#modal-'+entry.id">
                <i class="material-icons">code</i>
              </a>
            </div>

            <div v-if="entry.action == 'removelink'">
              <div class="col s1"><i class="material-icons">delete</i></div>
              <div class="col s11">
                Publicación eliminada: <br>
                "{{ entry.target_title }}" por /u/{{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'approvelink'">
              <div class="col s1"><i class="material-icons">done_all</i></div>
              <div class="col s11">
                Publicación aprobada: <br>
                "{{ entry.target_title }}" por /u/{{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'approvecomment'">
              <div class="col s1"><i class="material-icons">done</i></div>
              <div class="col s11">
                <p>Comentario de /u/{{ entry.target_author }} aprobado.</p>
                <pre class="target-body">{{ entry.target_body }}</pre>
              </div>
            </div>
            <div v-else-if="entry.action == 'removecomment'">
              <div class="col s1"><i class="material-icons">done</i></div>
              <div class="col s11">
                <p>Comentario de /u/{{ entry.target_author }} eliminado.</p>
                <pre class="target-body">{{ entry.target_body }}</pre>
              </div>
            </div>
            <div v-else-if="entry.action == 'distinguish'">
              <div class="col s1"><i class="material-icons">star</i></div>
              <div class="col s11">
                <p>Comentario de moderador distinguido.</p>
                <pre class="target-body">{{ entry.target_body }}</pre>
              </div>
            </div>
            <div v-else-if="entry.action == 'editflair'">
              <div class="col s1"><i class="material-icons">rate_review</i></div>
              <div class="col s11">
                Etiqueta de publicación editada: <br>
                "{{ entry.target_title }}" por /u/{{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'sticky' && entry.target_title">
              <div class="col s1"><i class="material-icons">pin_drop</i></div>
              <div class="col s11">
                Publicación fijada: <br>
                "{{ entry.target_title }}" por /u/{{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'sticky' && !entry.target_title">
              <div class="col s1"><i class="material-icons">location_on</i></div>
              <div class="col s11">
                <p>Comentario de /u/{{ entry.target_author }} fijado.</p>
                <pre class="target-body">{{ entry.target_body }}</pre>
              </div>
            </div>
            <div v-else-if="entry.action == 'unsticky' && entry.target_title">
              <div class="col s1"><i class="material-icons">location_off</i></div>
              <div class="col s11">
                Se quitó el fijado de una publicación: <br>
                "{{ entry.target_title }}" por /u/{{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'unsticky' && !entry.target_title">
              <div class="col s1"><i class="material-icons">location_off</i></div>
              <div class="col s11">
                <p>Se quitó el fijado de un comentario de {{ entry.target_author }}</p>
                <pre class="target-body">{{ entry.target_body }}</pre>
              </div>
            </div>
            <div v-else-if="entry.action == 'unbanuser' && entry.description == 'was temporary'">
              <div class="col s1"><i class="material-icons">how_to_reg</i></div>
              <div class="col s11">
                Fin de ban temporal del usuario {{ entry.target_author }}
              </div>
            </div>
            <div v-else-if="entry.action == 'setsuggestedsort'">
                <div class="col s1"><i class="material-icons">sort</i></div>
                <div class="col s11">
                  Se cambió el orden sugerido/predeterminado de una publicación: <br>
                  "{{ entry.target_title }}" por /u/{{ entry.target_author }}
                </div>
            </div>
            <div v-else-if="entry.action == 'spamlink' && entry.target_title">
                <div class="col s1"><i class="material-icons">delete_sweep</i></div>
                <div class="col s11">
                  Publicación eliminada por spam: <br>
                  "{{ entry.target_title }}" por /u/{{ entry.target_author }}
                </div>
            </div>
            <div v-else-if="entry.action == 'spamlink' && !entry.target_title">
                <div class="col s1"><i class="material-icons">delete_outline</i></div>
                <div class="col s11">
                  <p>Comentario de /u/{{ entry.target_author }} eliminado por spam.</p>
                  <pre class="target-body">{{ entry.target_body }}</pre>
                </div>
            </div>
            <div v-else-if="entry.action == 'marknsfw'">
                <div class="col s1"><i class="material-icons">airline_seat_recline_extra</i></div>
                <div class="col s11">
                  Publicación marcada como NSFW: <br>
                  "{{ entry.target_title }}" por /u/{{ entry.target_author }}
                </div>
            </div>
            <div v-else-if="entry.action == 'lock'">
                <div class="col s1"><i class="material-icons">lock</i></div>
                <div class="col s11">
                  Publicación bloqueada: <br>
                  "{{ entry.target_title }}" por /u/{{ entry.target_author }}
                </div>
            </div>
            <div v-else-if="entry.action == 'banuser'">
                <div class="col s1"><i class="material-icons">gavel</i></div>
                <div class="col s11">
                  Usuario /u/{{ entry.target_author }} baneado. <br>
                  {{ entry.description }} - {{ entry.details }}
                </div>
            </div>
            <div v-else>
              <div class="col s1"><i class="material-icons">insert_emoticon</i></div>
              <div class="col s11">
                Acción: {{ entry.action }}
              </div>
            </div>
          </div>

          <div v-bind:id="'modal-'+entry.id" class="modal">
              <div class="modal-content">
                <h5>Datos JSON de la acción</h5>
                <p><pre style="overflow: auto;">{{ entry }}</pre></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

  <script>
    (function(d) {
      let app = new Vue({
        el: '#app',
        data: { 
          entries: [],
          dateFormat: function(theDate) {
            let tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
            return (new Date(theDate*1000 - tzoffset)).toISOString().slice(0, -1);
          },
          dateAgo: function(theDate) {
            return timeago().format(theDate*1000, 'es')
          }
        },
        updated: function(){ this.$nextTick(() => {
          M.Collapsible.init(d.querySelectorAll('.collapsible'));
          M.Modal.init(d.querySelectorAll('.modal'));
        })}
      });
      
      let endpoint = 'https://modlog.rchile.xyz/';
      axios.post(endpoint, {}).then(resp => {
        app.entries = resp.data;
        d.querySelector("#app").style.visibility = 'visible';
      });
    })(document);
  </script>
</body>
</html>
