<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modlog r/Chile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" 
    integrity="sha256-CuUPKpitgFmSNQuPDL5cEfPOOJT/+bwUlhfumDJ9CI4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" 
    integrity="sha256-pIAzc/BIIo/hSvtNEDIiMTBtR9EfK3COmnH2pt8cPDY=" crossorigin="anonymous" />
</head>
<body>
  <div id="app" class="container mt-5">
    <div v-if="loading">Loading...</div>
    <div v-if="entries">
      <div class="entry card mb-3" v-for="i in entries">
        <div class="card-body">
          <div class="row align-items-start">
            <h5 class="card-title col-md-8">
              <i v-if="i.icon" :class="'fas fa-' + i.icon"></i>
              {{ i.title }} <small class="text-muted">({{ i.entry.action }})</small>
            </h5>
            <h6 class="card-subtitle col-md-4 mb-2 text-muted text-md-right">
              Mod: /u/{{ i.entry.mod }}, {{ i.relatime }}.
            </h6>
          </div>
          <p v-if="i.description">{{ i.description }}</p>
          <div v-if="i.body" v-html="i.body" class="action-body alert alert-secondary"></div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" 
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" 
    integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" 
    integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js" 
    integrity="sha256-YASERpEeN8gRNr/Fy4Km34WGFqIq1h6HkJMAQnVHlhk=" crossorigin="anonymous"></script>
  <script src="js/constants.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/ModAction.js"></script>
  <script src="js/app.js"></script>
</body>
</html>